TZ=Europe/Amsterdam
PUID=1000
PGID=1000

HA_CONFIG_DIR=/opt/docker/homeassistant
PLEX_CONFIG_DIR=/opt/docker/plex
MOSQUITTO_CONFIG_DIR=/opt/docker/mosquitto
ESPHOME_CONFIG_DIR=/opt/docker/esphome
PORTAINER_DATA_DIR=/opt/docker/portainer
TAILSCALE_STATE_DIR=/opt/docker/tailscale

MEDIA_DIR=/srv/media
DOWNLOADS_DIR=/srv/downloads

PLEX_CLAIM=
TAILSCALE_HOSTNAME=caravan-nuc
